<launch>

    <arg name="run_rosserial" default="true"/>
    <arg name="run_ydlidar" default="false"/>
    <arg name="run_rplidar" default="true"/>

    <arg name="run_turtlebro_web" default="false"/>
    <arg name="run_uvc_camera" default="false"/>


    <include file="$(find turtlebro)/launch/rosserial.launch" if="$(arg run_rosserial)"/>
    <include file="$(find turtlebro)/launch/robot_model.launch"/>

    <include file="$(find turtlebro)/launch/uvc_camera.launch" if="$(arg run_uvc_camera)"/>

    <include file="$(find turtlebro)/launch/ydlidar.launch" if="$(arg run_ydlidar)"/>
    <include file="$(find turtlebro)/launch/rplidar.launch" if="$(arg run_rplidar)"/>

    <include file="$(find turtlebro_web)/launch/turtlebro_web.launch" if="$(arg run_turtlebro_web)"/>

</launch>
